#container {
    width: 1479px;
    height: 745px;
    overflow: hidden;
    /* background-color: #3a584e; */
    background-image: url(../images/bbg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
}

/* 定义滚动条样式 */
::-webkit-scrollbar {
    width: 0px;
    /* 修改滚动条宽度 */
    background-color: #F5F5F5;
    /* 修改滚动条背景颜色 */
}

#container>.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 333333;
    height: 60px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#container .nav-outLogo {
    position: absolute;
    left: 20px;
    width: 150px;
    height: 50px;
    /* background-color: #000; */
}

#container .nav-inLogo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-inLogo>.nav-logo {
    font-size: 35px;
    color: #000;
    position: absolute;
    left: 30px;
    top: 14px;
}

.nav-inLogo>.nav-txt {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 75px;
    width: 200px;
    height: 100%;
    top: 15px;
}

.nav-txt>.CN {
    color: #000;
    font-family: "幼圆" !important;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
    position: relative;
}

.nav-txt>.EN {
    color: #000;
    font-family: "Blackadder ITC";
    font-weight: 900;
    font-size: 11px;
}

#container .nav-mid {
    position: relative;
    left: 70px;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#container .nav-mid>ul {
    /* 相对定位 */
    position: relative;
    /* 弹性布局 */
    display: flex;
    /* 让子元素平均分配宽度 */
    justify-content: space-around;
    width: 650px;
    height: 100%;
}

#container .nav-mid>ul>li {
    width: 100%;
    height: 100%;
}

.nav-mid>ul>li>a {
    /* 因为a元素是行内元素 必须将其转为行内块或者块级才能设置宽度和高度 */
    display: block;
    width: 50px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    color: #000;
    margin: 0 auto;
    font-family: "幼圆" !important;
    font-weight: 900;
    font-size: 20px;
    transition: all .1s;
    /* border-bottom: 5px solid #365174; */
}

.nav-mid>ul>li:hover>a {
    height: 93%;
    border-bottom: 5px solid #194414;
}


.nav-mid li>ol {
    width: 85%;
    /* width: 120%; */
    background-color: #fff;
    opacity: 0;
    position: relative;
    left: 23px;
    /* visibility: hidden; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5% !important;
    border-bottom-right-radius: 5% !important;
    /* 让盒子先沿着y轴缩放到0 也就是隐藏了 */
    /* transform: scaleY(0); */
    /* 我们需要将盒子从上面滑动下来 设置一下缩放的中心点即可 设置到最上面的中间位置 */
    transform-origin: 50% 0;
    /* 设置过渡 */
    transition: all 0.2s;
}

.nav-mid>ul>li:hover ol {
    opacity: 1;
    visibility: visible;

}

.nax-tag {
    position: relative;
    left: 10px;
}

.nav-mid li>ol>li {
    height: 40px;
    transition: background-color 0.2s ease-in-out;
    /* border-bottom:10px solid #365174; */
}

.nav-mid li>ol>li>a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    color: #000;
    font-family: "幼圆" !important;
    font-size: 16px;
    position: relative;
    transition: font-size 0.2s ease-in-out;
    bottom: 15px;
}

.nav-mid li>ol>li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-mid li>ol>li>a:hover {
    /* font-size: 1px; */
}


.nav-mid>ul .underline {
    /* 绝对定位 */
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 50px !important;
    height: 6px !important;
    /* 设置一下盒子的左上角和右上角的圆角 */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #365174;
    /* 加过渡 */
    transition: all 0.5s;
    /* 现在有个小问题 我们一起看看 ne
  /* 就是这个问题 这个线条有点影响鼠标移入li这个效果 */
    /* 这个属性就可以解决这个问题 就貌似这个元素你能看见 但是鼠标是点击不到了 现在鼠标放到线条也没事了 */
    pointer-events: none;
}

.nav-mid>ul>li:nth-child(2):hover~.underline {
    left: 148px;
}

.nav-mid>ul>li:nth-child(3):hover~.underline {
    left: 258px;
}

.nav-mid>ul>li:nth-child(4):hover~.underline {
    left: 363px;
}

.nav-mid>ul>li:nth-child(5):hover~.underline {
    left: 473px;
}

.nav-mid>ul>li:nth-child(6):hover~.underline {
    left: 580px;
}

#container .mainNavR {
    position: absolute;
    right: 225px;
    top: 20px;
}

/* 导航栏右上角的搜索 */
.mainNavR .search {
    font-size: 22px !important;
    color: #365174;
    display: inline-block;
    /* width: 30px; */
    position: relative;
    margin-right: 30px;
    font-family: "幼圆";
    text-align: center;
    vertical-align: middle;
    transition: color .3s;
}

.mainNavR .search.icon-sousuo::before {
    position: relative;
    right: 50px;
    font-size: 20px;
}

/* 导航栏右上角的搜索大框 */
.mainNavR .searchBox {
    position: absolute;
    right: 50px;
    top: -5px;
    /* position: relative;
    right: 300px;
    top: -5px; */
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: #474747;
    /* color: #ad2b2b; */
    line-height: 34px;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transform: translateX(50%);
    transition: visibility .3s, opacity .3s, transform .3s;
}

/* 搜索框 */
.mainNavR .searchTxt {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: solid 2px #365174;
    border-radius: 50px;
    padding: 0 8px;
    width: 200px;
}

/* 搜索框的文字 */
.mainNavR .searchTxt>input {
    outline: none;
    border: 8px !important;
    display: block;
    width: 80%;
    height: auto;
    position: relative;
    top: 5px;
    line-height: normal;
}

.mainNavR .searchTxt>input:focus::placeholder {
    font-size: 0px;
}

.mainNavR .searchTxt>input::placeholder {
    font-family: "幼圆";
    font-weight: 600;
    font-size: 15px;
    color: #365174;
}

/* 放大镜的提交按钮 */
.searchSubmit {
    background: none;
    border: none;
    outline: none;
    width: 34px;
    height: 34px;
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    min-width: 40px;
    cursor: pointer;
    font-size: 20px;
    font-family: "xfont" !important;
    font-style: normal;
    position: relative;
    right: 50px;
    top: 2px;
}

.navPreson {
    z-index: 999;
    position: absolute;
    right: 70px;
    top: 0px;
    width: 200px;
    height: 60px;
    /* background-color: linear-gradient(to right, #ff0000, #0000ff); */
    transition: all .5s ease;
    transition: width .5s, height .5s, background-image .5s, background-size .5s;
    border-radius: 20px;

}

/* 
.navPreson:hover {
    width: 290px;
    height: 400px;
    border: 3px solid #000;
    background-color: #6e8da9;
    background-image: url(../images/cardBB.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navPreson:hover .personID {
    left: 8px;
    color: #000;
    font-family: "黑体";
    top: 115px;
}

.navPreson:hover .personID:hover {
    text-decoration: underline;
}

.navPreson:hover .personHead {
    position: relative;
    top: 60px;
    right: 105px;
} */

.personHead .close {
    display: none;
    /* background-color: #bfa; */
    z-index: 2;
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    color: #000;
    top: 15%;
    left: 23%;
    /* transform: translate(-50%, -56%); */
}

/* .personHead:hover .close {
    display: block;
    color: #000;
    top: 15%;
    left: 23%;
}

.navPreson:hover .personHead>img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    transition: all .5s;
}

.navPreson:hover .message {
    visibility: visible;
    opacity: 1;
    bottom: 190px;
    left: 100px;
} */

.navPreson>a {
    display: block;
    width: 100%;
    height: 100%;
}

.personH {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s;
}

.personID {
    top: 2px;
    right: 0;
    position: relative;
    margin-top: 8px;
    margin-right: 50px;
    font-family: "幼圆";
    font-weight: 600;
    font-size: 16px;
    color: #000;
    transition: all 0.5s;
}

.personHead {
    transition: all .5s ease;
    position: relative;
    top: 7px;
    right: 25px;
}

.personHead>input {
    /* display: none; */
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
}

.personHead>img {
    position: relative;
    top: 0px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* 放大镜的图标字体 */
.searchSubmit>span {
    position: relative;
    right: 4px;
    font-size: 20px !important;
}

.message {
    position: relative;
    flex-direction: column;
    bottom: 30px;
    left: 30px;
    /* background-color: #bfa; */
    width: 150px;
    /* height: 300px; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    display: flex;
    line-height: 20px;
    flex-wrap: wrap;
}

.message>.m {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10px;
    margin-bottom: 6px;
    line-height: 30px;
}

.message .mtxt {
    font-size: 14px;
    font-family: "黑体";
    font-weight: 600;
    color: #000;
}

.message .mtxt:hover {
    text-decoration: underline;
    /* cursor: url('../../images/whthencr.cur'), auto; */
}

.message .mfont {
    font-size: 19px;
    color: #000;
    margin-right: 5px;
}

.exp {
    position: absolute;
    right: 150px;
    top: 250px;
    font-family: "幼圆";
    font-weight: 600;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 50px;
    letter-spacing: 10px;
    /* 调整字间距的值 */
}

.nav-mid>ul>li:nth-child(2)>a {
    height: 93%;
    border-bottom: 5px solid #194414 !important;
}


.fillOut {
    width: 400px;
    height: 550px;
    position: absolute;
    right: 0px;
    top: 70px;
    overflow: hidden;
    z-index: 5;
}

.fillIn {
    width: 400px;
    height: 550px;
    /* position: absolute; */
    position: fixed;
    background-image: url(../images/white.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateX(320px);
    transition: all 1s ease;
}

.fillIn>.opened,
.fillIn>.closed,
.cont>.closed,
.index>.closed,
.endIn>.closed {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 220px;
    cursor: pointer;
}

.fillIn>.end {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;
    transition: all .2s ease;
}

.fillIn>.end:hover {
    transform: scale(.94);
}

.fillIn>.end>img {
    width: 50px;
    height: 50px;
}

.fillIn>.tip{
    width: 250px;
    height: 160px;
    background-color: #fdf3e3;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    bottom: 200px;
    left: 80px;
}

.fillIn>.tip .closed{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    transition: all .2s ease;
    cursor: pointer;
}
.fillIn>.tip .closed:hover{
    transform: scale(0.94);
}
.fillIn>.tip .closed>img{
    width: 50px;
    height: 50px;
}
.fillIn>.tip .txt{
    position: absolute;
    left: 28px;
    top: 75px;
}
.fillIn>.tip .txt>span{
    font-size: 15px;
    font-family: "幼圆";
}
.fillIn>.tip .good1{
    width: 75px;
    height: 40px;
    position: absolute;
    bottom: 12px;
    left: 90px;
    background-image: url(../images/a1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all .2s ease;
}
.fillIn>.tip .good1:hover{
    transform: scale(0.94);
}
.endIn>.closed {
    right: 30px;
    left: auto;
    top: 30px;
    transition: all .2s ease;
}

.endIn>.closed:hover {
    transform: scale(0.94);
}

.fillIn>.opened {
    left: 35px;
    transition: all .2s ease;
}

.fillIn>.opened:hover {
    transform: scale(0.94);
}

.fillIn>.closed {
    top: 50px;
    left: 45px;
    transition: all .2s ease;
}

.fillIn>.closed:hover {
    transform: scale(0.94);
}

.cont>.closed {
    top: 30px;
    left: auto;
    right: 40px;
    transition: all .2s ease;
}

.cont>.closed:hover {
    transform: scale(0.90);
}

.index>.closed {
    left: auto;
    right: 40px;
    top: 30px;
    transition: all .2s ease;
    z-index: 3;
}

.index>.closed:hover {
    transform: scale(0.94);
}

.fillIn>.closed>img,
.cont>.closed>img,
.index>.closed>img,
.endIn>.closed>img {
    width: 50px;
    height: 50px;
}

.fillIn>.opened>img {
    width: 50px;
    height: 50px;
    /* background-image: url(../images/left.png); */
}

.scriptid {
    display: flex;
    position: relative;
    left: 110px;
    top: 85px;
}

.write .scriptid>input {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    resize: none;
}

.word {
    display: flex;
    position: relative;
    top: 100px;
    left: 110px;
    flex-direction: column;
}

.word>textarea {
    margin-top: 10px;
    width: 200px;
    height: 100px;
    resize: none;
}

.choice {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 115px;
    left: 45px;
}

.c>.txt {
    position: relative;
    left: 65px;
}

.right {
    margin-left: 10px;
}

.choiceMsg {
    position: relative;
    left: 7px;
}

.choiceMsg>textarea {
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.influence input {
    width: 20px;
    height: 20px;
}

.influence .i {
    margin-bottom: 10px;
}

.i>label {
    font-size: 14px;
    margin-right: 10px;
}

.jump {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.jump>label {
    margin-top: 5px;
}

.jump>input {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.accept {
    width: 100px;
    height: 40px;
    position: relative;
    left: 150px;
    top: 127px;
    cursor: pointer;
    background-image: url(../images/accept.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .2s ease;
}

.accept:hover {
    transform: scale(0.97);
}

.test {
    /* position: relative; */
    position: fixed;
    overflow: hidden;
    width: 150px;
    height: 60px;
    right: 30px;
    bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(../images/test.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .2s ease;
    z-index: 5;
}

.test:hover {
    transform: scale(0.95);
}

.base {
    width: 100px;
    height: 100px;
    left: 70px;
    bottom: 20px;
    position: fixed;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 5;
}

.base:hover {
    transform: scale(0.96);
}



.base>img {
    width: 80px;
    height: 80px;
}

.cont {
    width: 500px;
    height: 400px;
    display: none;
    position: absolute;
    top: 180px;
    left: 450px;
    z-index: 5;
    background-color: #fff;
}

.baseIn {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
    top: 60px;
}

.baseIn>.tittle {
    width: 200px;
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

.baseIn>.tittle>textarea {
    width: 100px;
    height: 20px;
    position: relative;
    top: 2px;
    padding-top: 5px;
    padding-left: 5px;
    left: 50px;
}

.baseIn>.tittle>label {
    position: absolute;
    top: 5px;
    left: 0px;
}

.baseIselectn>.back {
    width: 350px;
    height: 120px;
    position: relative;
}

.baseIn>.back>label {
    position: absolute;
    top: 42px;
    left: 0px;
}

.baseIn>.back>textarea {
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    left: 50px;
    width: 250px;
    height: 100px;
}

.good {
    width: 120px;
    height: 45px;
    position: absolute;
    bottom: 40px;
    right: 205px;
    cursor: pointer;
    background-image: url(../images/a1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .2s ease;
}

.good:hover {
    transform: scale(0.94);

}


.index {
    width: 420px;
    height: 300px;
    /* background-color: rgba(0, 0, 0, .6); */
    /* border: 3px solid #000; */
    /* border-radius: 5px; */
    /* background-color: #fff; */
    position: absolute;
    bottom: 200px;
    right: 550px;
    display: none;
    z-index: 5;
    background-image: url(../images/bohe.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.index>.in {
    position: relative;
    top: 60px;
    left: 60px;
}

.in>.m {
    position: absolute;
    left: 95px;
    top: 160px;
    width: 84px;
    height: 36px;
    /* background-color: #fff; */
    cursor: pointer;
    /* border: 1px solid #000;
    border-radius: 10px; */
    background-image: url(../images/a1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .2s ease;
}

.in>.m:hover {
    transform: scale(0.94);
}

.inSelect {
    position: relative;
    left: 30px;
    top: 10px;
}

.inTxt {
    position: relative;
    left: 10px;
}

.inTxt>span {
    font-size: 16px;
    font-weight: 600;
    font-family: "幼圆";
}

.indexSelect {
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 125px;
    right: 220px;
    /* background-color: #fff; */
    /* border: 1px solid #000; */
    cursor: pointer;
    background-image: url(../images/zhibiao.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .2s ease;
}

.indexSelect:hover {
    transform: scale(0.94);
}

#textFields {
    position: absolute;
    bottom: -120px;
    right: 150px;
    width: 250px;
    height: 100px;
    /* background-color: rgba(0, 0, 0, .3); */
}

#textFields>label {
    font-size: 16px;
    font-family: "幼圆";
    font-weight: 600;
}


#container .create {
    width: 109.75px;
    height: 78.25px;
    position: absolute;
    position: fixed;
    top: 45vh;
    left: 70px;
    /* left: 50px;
    top: 50px; */
    /* background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%; */
    background-image: url(../images/create.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    color: #335159;
    transition: all .2s ease;
    z-index: 5;
}

#container .create:hover {
    transform: scale(0.94) translateZ(100px);
}


.change {
    width: 150px;
    height: 150px;
    background-image: url(../images/yu.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 5;
    transition: all .1s ease;
    cursor: pointer;

}

.change.act {
    background-image: url(../images/bian.png);
}

.change:hover {
    transform: scale(0.94);
}


/* 提示框的样式 */
.g6-tooltip {
    font-size: 12px;
    line-height: 20px;
    color: #545454;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    background-color: #ddd9c3;
    padding: 10px 8px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
    /* background-image: url(../images/de.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.minimap-container {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    /* 根据需要设置 top 和 left 属性 */
    left: 10px;
    /* background-image: url(../images/de.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.minimap-viewport {
    border-color: #ccc;
    background-color: rgba(0, 0, 0, 0.2);
}

.endBig {
    width: 150px;
    height: 55px;
    background-image: url(../images/setEnd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    /* top: 500px;
    left: 60px; */
    bottom: 18px;
    right: 220px;
    z-index: 5;
    cursor: pointer;
    transition: all .2s ease;
}

.endBig:hover {
    transform: scale(.94);
}

.endOut {
    width: 600px;
    height: 600px;
    /* background-color: #bfa; */
    position: fixed;
    z-index: 5;
    top: 100px;
    left: 420px;
    display: none;
}

.endIn {
    width: 550px;
    height: 550px;
    background-color: #fff;
    position: relative;
    left: 27px;
    top: 27px;
}

.endIn>.normal {
    width: 400px;
    height: 250px;
    /* background-color: #bfa; */
    position: relative;
    left: 60px;
    top: 60px;
    display: flex;
    flex-direction: column;
}

.normal>.txt,
.special>.txt {
    width: 80px;
    height: 20px;
    /* background-color: #000; */
}

.normal>.txt span,
.special>.txt span {
    font-size: 16px;
}

.normal>.set {
    width: 400px;
    height: 200px;
    /* background-color: #bfa; */
    margin-top: 5px;
}

.normal .zhi {
    background-color: #fff;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.normal .zhi>.z {
    margin-right: 5px;
}

.normal .zhi>.z>label {
    font-size: 13px;
    font-family: "幼圆";
    font-weight: 500;
}

.normal .zhi>.z>.pre,
.normal .zhi>.z>.next {
    width: 16px;
    height: 16px;
}

.normal .end1>.e12 {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    resize: none;
}

.normal .end2 {
    margin-top: 6px;
}

.normal .end2>.e22 {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    font-size: 16px;
    resize: none;
    padding-top: 5px;
    padding-left: 5px;
}

.special {
    width: 400px;
    height: 255px;
    position: relative;
    left: 60px;
    /* background-color: #bfa; */
}

.eList {
    width: 100%;
    height: 220px;
    background-color: #fff;
}

.eList tr {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
}

.eList tr>td {
    display: grid;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
}

.headList span {
    font-size: 13px;
    font-family: "幼圆";
}

.bodyList {
    height: 177.6px;
    overflow: scroll;
}

.bodyList::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
}

.bodyList::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.bodyList::-webkit-scrollbar-track {
    background-color: transparent;
}



.bodyList .font {
    cursor: pointer;
}

.bodyList .font:hover {
    color: red;
}

.bodyList .ee textarea {
    width: 115px;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    border: none;
    user-select: none;
    overflow-y: scroll;
}

.bodyList .ea textarea {
    width: 45px;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;
    resize: none;
    border: none;
    user-select: none;
    overflow-y: scroll;
}

.wait1 {
    width: 410px;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5px;
    /* background-color: #bfa; */
}

.newOne {
    position: relative;
    left: 50px;
    top: 10px;
    width: 104px;
    height: 41.66px;
    background-image: url(../images/newOne.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .2s ease;
    cursor: pointer;
}

.newOne:hover,
.goodOne:hover {
    transform: scale(0.94);
}

.goodOne {
    position: relative;
    left: 120px;
    top: 10px;
    width: 104px;
    height: 41.66px;
    background-image: url(../images/a1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .2s ease;
    cursor: pointer;
}
/* #graphContainer{
    width: 150px;
    height: 200px;
    position: fixed;
    bottom: 20px;
    left: 20px;
} */
.minimap {
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
  .minimap-canvas {
    border: none;
  }
  .minimap-viewport {
    border: 2px solid #aaa;
    z-index: 1;
  }


  .nav>.eye{
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    color: #000;
  }
  .nav>.eye:hover{
    color: green;
  }
  .zhuang{
    width: 200px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 65px;
    right: 15px;
    z-index: 6;
  }
  .zhuang>.txt{
    font-size: 16px;
    font-family: "幼圆";
    position: absolute;
    left: 68px;
    top: 25px;
  }
  .zhuang>.tab{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 10px;
    /* background-color: #bfa; */
  }

  .zhuang>.tab>div{
    display: grid;
    align-items: center;
    text-align: center;
    width:60px;
  }

  .zhuang>.tab>.see{
    background-color: #bfa;
  }